[Unit]
Description=Check for new commits every 10 minutes

[Timer]
OnBootSec=90s
OnUnitActiveSec=10min
AccuracySec=30s

[Install]
WantedBy=timers.target
